<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <div class="menu w-100 navbar-dark bg-primary">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"
              ><i class="fa fa-book" style="font-size: 36px"></i
            ></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'home' %}"
                    >{% translate 'Главная' %}</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'new' %}">{% translate 'Новые книги' %}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'discount' %}">{% translate 'Скидки' %}</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {% translate 'Профиль' %}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     {% if request.user.is_authenticated %}
                          <li>
                            <a class="dropdown-item" href="{% url 'profile' %}"
                              >{{ request.user }}</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="{% url 'logout' %}"
                              >{% translate 'Выйти'%}</a
                            >
                          </li>
                      {% else %}
                          <li>
                            <a class="dropdown-item" href="{% url 'login' %}"
                              >{% translate 'Вход' %}</a
                            >
                          </li>
                      {% endif %}
                  </ul>
                </li>
              </ul>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% translate 'Язык' %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        {% if language.code == 'ru' %}
                         <li><a class="dropdown-item" href="{% url 'set_language' language.code %}">{{ language.name_local }}</a></li>
                        {% else %}
                         <li><a class="dropdown-item" href="{% url 'set_language' language.code %}">{{ language.name_local }}</a></li>
                        {% endif %}
                     {% endfor %}
            <!-- <li><a class="dropdown-item" href="#">O'zbek</a></li>
            <li><a class="dropdown-item" href="#">Русский</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
       
              <form class="d-flex" method="GET" action="{% url 'search' %}">
                <input
                  id="searchTxt"
                  class="form-control me-2"
                  type="search"
                  name="q"
                  placeholder="{% translate 'Поиск' %}"
                  aria-label="Search"
                />
                <input
                  id="btnnn"
                  class="btn btn-outline-light disabled"
                  type="submit"
                  value="{% translate 'Поиск' %}"
                />
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>



<!-- Modal -->
    <form method="post" action="{% url 'image' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{% translate 'Загрузить'%}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div>
                    <input class="form-control form-control-lg" id="formFileLg" type="file" name="image">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate 'Отмена' %}</button>
                  <button type="submit" class="btn btn-primary">{% translate 'Сохранить'%}</button>
                </div>
              </div>
            </div>
          </div>
    </form>
      <div class="container">
        <div class="main">
            <div class="box row">
              {% if image %}
                {% for i in image %}
                <div class="col-lg-4 col-12">
                    <img class="img-fluid p-5" src="{{ i.image.url }}" alt="Mavjud emas">
                {% endfor %}
                </div>
              {% else %}
                 <div class="col-lg-4 col-12">
                   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    {% translate 'Добавить изображение'%}
                  </button>

                </div>
              {% endif %}
                <div class="col-lg-8 col-12 py-5">
                    <h3>{% translate 'Имя пользователя' %}: <span>{{ user }}</span></h3>
                    
                    <h3 class="my-5">{% translate 'Имя' %}: <span>{{ user.first_name }}</span></h3>
                    <h3>{% translate 'Фамилия'%}: <span>{{ user.last_name }}</span></h3>
                    <h3 class="my-5">{% translate 'Электроная почта'%}: <span>{{ user.email }}</span></h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    {% if data %}
        <table class="table">
            <thead>
            <tr class="table-dark">
                <th scope="col">№</th>
                <th scope="col">{% translate 'Имя' %}</th>
                <th scope="col">{% translate 'Цена'%}</th>
                <th scope="col">{% translate 'Время заказа'%}</th>
                <th scope="col">{% translate 'Действие'%}</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
                <tr>
                    <th scope="row" class="table-danger">{{ forloop.counter }}</th>
                    <td class="table-danger">{{ i.product }}</td>
                    <td class="table-danger">{{ i.product.price }}</td>
                    <td class="table-danger">{{ i.create_time }}</td>
                    <td class="table-danger">
                      
                      <a href="{% url 'deleteOrder' i.id %}" style="text-decoration: none; color: black; padding: 4px 6px;">{% translate 'Отмена'%}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <div id="knl" class="alert alert-primary" role="alert">
                  {{ message }}
              </div>
          {% endfor %}
      </ul>
  {% endif %}
        <h1>{% translate 'Нет заказов'%}</h1>
    {% endif %}
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>